<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="icon" type="image/png" href="{% static 'images/circle_logo_small.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

  <title>Configure SURFACE Environment Variables</title>
</head>
<body>
  <!-- Scroll to bottom button -->
  <button onclick="scrollToBottom()" class="scroll-btn">
    <i class="fas fa-chevron-down"></i>
  </button>

  <div class="logo"></div>
  
  <section>
    <div class="tab-container">
      <div class="tab-center">
        <button class="tablinks" onclick="openTab(event, 'tab1')" id="defaultOpen">Instructions</button>
        <button class="tablinks" onclick="openTab(event, 'tab2')">Installation Details</button>
        <button class="tablinks" onclick="openTab(event, 'tab3')">Surface Admin</button>
        <button class="tablinks" onclick="openTab(event, 'tab4')">LRGS Details</button>
        <button class="tablinks" onclick="openTab(event, 'tab5')" id="tab5-ctrl">Map Details</button>
        <button class="tablinks" onclick="openTab(event, 'tab6')" id="tab6-ctrl">Spatial Analysis Details</button>
      </div>
    </div>
    
    <form method="post">
      {% csrf_token %}
      
      <div id="tab1" class="tabcontent">
        <h2>Configuration Instructions</h2>
        <p>Welcome to the SURFACE configuration page. Follow the instructions below to set up your environment variables:</p>
    
        <ul>
          <li>
              <span class="label">Remote Host for SURFACE Install:</span>
              <div>Enter the hostname or IP address of the remote machine where you want to install SURFACE. If you're installing on localhost, you can leave this field blank.</div>
          </li>
          <li>
              <span class="label">Path on Remote Machine to Clone SURFACE Repository:</span>
              <div>If you're installing on a remote machine, specify the path where you want to clone the SURFACE repository. If you're installing locally, specify the local path.</div>
          </li>
          <li>
              <span class="label">Start with Backup Data:</span>
              <div>Choose whether you want to start with backup data. If yes, provide the path to the backup data file.</div>
          </li>
          <li>
              <span class="label">Admin Username, Email, and Password:</span>
              <div>Enter the credentials for the SURFACE admin.</div>
          </li>
          <li>
              <span class="label">LRGS User and Password:</span>
              <div>Provide the credentials for LRGS.</div>
          </li>
          <li>
              <span class="label">Timezone Name and Offset:</span>
              <div>Specify the timezone name (e.g., America/New_York) and offset (e.g., -0500).</div>
          </li>
          <li>
              <span class="label">Map Latitude, Longitude, and Zoom Level:</span>
              <div>With the map select the initial latitude, longitude, and zoom level for SURFACE. Use the scroll whell or the buttons on the top left to change the map zoom.</div>
          </li>
          <li>
              <span class="label">Spatial Analysis Initial and Final Coordinates:</span>
              <div>With the map select the initial and final coordinates for the spatial analysis bounding box.</div>
          </li>
        </ul>
  
        <p class="note">Note: The form will not submit unless all required information is entered. Also, all fields beginning with <span class="required"></span> are required and must be filled out!</p>
        
        <p>After completing all required fields, click the 'Save Configuration' button to proceed.</p>
        <button type="submit" class="btn btn-primary">Save Configuration</button>
      </div>

      <div id="tab2" class="tabcontent">
        <div class="form-group">
          <label for="{{ form.host.id_for_label }}"><span class="required"></span>{{ form.host.label }}</label>
          {{ form.host }}

          <label for="{{ form.surface_repo_path.id_for_label }}"><span class="required"></span>{{ form.surface_repo_path.label }}</label>
          {{ form.surface_repo_path }}

          <label>{{ form.with_data.label }}</label>
          {{ form.with_data }}
        
          <div class="form-group" id="backup-data-path" style="display:none;">
            <label for="{{ form.data_path.id_for_label }}"><span class="required"></span>{{ form.data_path.label }}</label>
            {{ form.data_path }}
          </div>
        </div>
      </div>
      
      <div id="tab3" class="tabcontent">
        <div class="form-group">
          <label for="{{ form.admin.id_for_label }}"><span class="required"></span>{{ form.admin.label }}</label>
          {{ form.admin }}

          <label for="{{ form.admin_email.id_for_label }}"><span class="required"></span>{{ form.admin_email.label }}</label>
          {{ form.admin_email }}

          <label for="{{ form.admin_password.id_for_label }}"><span class="required"></span>{{ form.admin_password.label }}</label>
          {{ form.admin_password }}   
        </div>
      </div>

      <div id="tab4" class="tabcontent">
        <div class="form-group">
          <label for="{{ form.lrgs_user.id_for_label }}"><span class="required"></span>{{ form.lrgs_user.label }}</label>
          {{ form.lrgs_user }}

          <label for="{{ form.lrgs_password.id_for_label }}"><span class="required"></span>{{ form.lrgs_password.label }}</label>
          {{ form.lrgs_password }}

          <label for="{{ form.timezone_name.id_for_label }}"><span class="required"></span>{{ form.timezone_name.label }}</label>
          {{ form.timezone_name }}

          <label for="{{ form.timezone_offset.id_for_label }}"><span class="required"></span>{{ form.timezone_offset.label }}</label>
          {{ form.timezone_offset }}
        </div>
      </div>

      <div id="tab5" class="tabcontent">
        <label style="font-size: 20px;">Select your country's coordinates and zoom on the map</label>

        <div id="initial-map"></div>
        
        <div class="form-group">
          <label for="{{ form.map_latitude.id_for_label }}"><span class="required"></span>{{ form.map_latitude.label }}</label>
          {{ form.map_latitude }}

          <label for="{{ form.map_longitude.id_for_label }}"><span class="required"></span>{{ form.map_longitude.label }}</label>
          {{ form.map_longitude }}

          <label for="{{ form.map_zoom.id_for_label }}"><span class="required"></span>{{ form.map_zoom.label }} (between 0 - 19)</label>
          {{ form.map_zoom }}
        </div>
      </div>

      <div id="tab6" class="tabcontent">
        <label style="font-size: 20px;">Select your country's spatial analysis range</label>
        
        <div id="spatial-map"></div>

        <div class="form-group">
          <label for="{{ form.spatial_analysis_initial_latitude.id_for_label }}"><span class="required"></span>{{ form.spatial_analysis_initial_latitude.label }}</label>
          {{ form.spatial_analysis_initial_latitude }}

          <label for="{{ form.spatial_analysis_initial_longitude.id_for_label }}"><span class="required"></span>{{ form.spatial_analysis_initial_longitude.label }}</label>
          {{ form.spatial_analysis_initial_longitude }}

          <label for="{{ form.spatial_analysis_final_latitude.id_for_label }}"><span class="required"></span>{{ form.spatial_analysis_final_latitude.label }}</label>
          {{ form.spatial_analysis_final_latitude }}

          <label for="{{ form.spatial_analysis_final_longitude.id_for_label }}"><span class="required"></span>{{ form.spatial_analysis_final_longitude.label }}</label>
          {{ form.spatial_analysis_final_longitude }}
        </div>
      </div>
    </form>

  </section>

  <!-- Scroll to top button -->
  <button onclick="scrollToTop()" class="scroll-btn scroll-btn-top">
    <i class="fas fa-chevron-up"></i>
  </button>

<script>
  // Automatically populate timezone based on the users location
  document.addEventListener("DOMContentLoaded", function() {
    // Detect the user's timezone name using Moment.js
    var timezoneName = moment.tz.guess();
    
    // Calculate the timezone offset in minutes
    var timezoneOffsetMinutes = moment.tz(timezoneName).utcOffset();
    
    // Set the form fields with the detected values
    document.querySelector('[name="timezone_name"]').value = timezoneName;
    document.querySelector('[name="timezone_offset"]').value = timezoneOffsetMinutes;
  });

  // Simulate a click on the first tab button to show its content by default
  document.getElementById("defaultOpen").click();

  // Show or hide the backup data file path input based on the "Start with Backup data" choice
  const backupDataPath = document.getElementById('backup-data-path');
  const startWithBackupRadioButtons = document.querySelectorAll('input[name="with_data"]');

  // Set the initial visibility of the backup data file path based on the default value
  const initialBackupValue = document.querySelector('input[name="with_data"]:checked').value;
  backupDataPath.style.display = initialBackupValue === 'yes' ? 'block' : 'none';

  // Add event listeners to radio buttons
  startWithBackupRadioButtons.forEach(input => {
    input.addEventListener('change', function() {
      if (this.value === 'yes') {
        backupDataPath.style.display = 'block';
      } else {
        backupDataPath.style.display = 'none';
      }
    });
  });

  // Function to initialize the map
  function initializeMap() {
    var map = L.map('initial-map').setView([0, 0], 2);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 15,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    var marker;

    function onMapClick(e) {
      if (marker) {
        marker.setLatLng(e.latlng);
      } else {
        marker = L.marker(e.latlng).addTo(map);
      }
      document.querySelector('[name="map_latitude"]').value = e.latlng.lat;
      document.querySelector('[name="map_longitude"]').value = e.latlng.lng;
    }

    map.on('click', onMapClick);

    // Add event listener to update map zoom level
    map.on('zoomend', function() {
      var zoomLevel = map.getZoom(); // Get the current zoom level of the map
      document.querySelector('[name="map_zoom"]').value = zoomLevel; // Set the value of the input field
    });
  }

  // initialize spatial data map
  function initializeSpatialMap() {
    var spatialMap = L.map('spatial-map').setView([0, 0], 2);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 15,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(spatialMap);

    var startMarker, endMarker, rectangle;
    function onSpatialMapClick(e) {
      if (startMarker && endMarker && rectangle) {
        // Reset the map if both markers and rectangle exist
        spatialMap.removeLayer(startMarker);
        spatialMap.removeLayer(endMarker);
        spatialMap.removeLayer(rectangle);
        startMarker = null;
        endMarker = null;
        rectangle = null;
      }
      if (!startMarker) {
        startMarker = L.marker(e.latlng, { draggable: true }).addTo(spatialMap);
        startMarker.on('dragend', updateRectangle);
        document.querySelector('[name="spatial_analysis_initial_latitude"]').value = e.latlng.lat;
        document.querySelector('[name="spatial_analysis_initial_longitude"]').value = e.latlng.lng;
      } else if (!endMarker) {
        endMarker = L.marker(e.latlng, { draggable: true }).addTo(spatialMap);
        endMarker.on('dragend', updateRectangle);
        document.querySelector('[name="spatial_analysis_final_latitude"]').value = e.latlng.lat;
        document.querySelector('[name="spatial_analysis_final_longitude"]').value = e.latlng.lng;
        updateRectangle();
      }
    }

    function updateRectangle() {
      if (startMarker && endMarker) {
        var bounds = [startMarker.getLatLng(), endMarker.getLatLng()];
        if (rectangle) {
          rectangle.setBounds(bounds);
        } else {
          rectangle = L.rectangle(bounds).addTo(spatialMap);
        }
        var ne = rectangle.getBounds().getNorthEast();
        var sw = rectangle.getBounds().getSouthWest();
        document.querySelector('[name="spatial_analysis_initial_latitude"]').value = sw.lat;
        document.querySelector('[name="spatial_analysis_initial_longitude"]').value = sw.lng;
        document.querySelector('[name="spatial_analysis_final_latitude"]').value = ne.lat;
        document.querySelector('[name="spatial_analysis_final_longitude"]').value = ne.lng;
      }
    }
    
    spatialMap.on('click', onSpatialMapClick);
  }

  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;

    // Hide all tab contents
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Remove the active class from all tab links
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";


    if (document.getElementById("tab5-ctrl").classList.contains("active"))  {
      initializeMap();
    }

    if (document.getElementById("tab6-ctrl").classList.contains("active"))  {
      initializeSpatialMap();
    }
  }

  // Simulate a click on the first tab button to show its content by default
  document.getElementById("defaultOpen").click();

  // Function to scroll to the bottom of the page
  function scrollToBottom() {
    window.scrollTo({
      top: document.body.scrollHeight,
      behavior: 'smooth'
    });
  }

  // Function to scroll to the top of the page
  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }

</script>
</body>
</html>
